@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Lora:ital,wght@0,400..700;1,400..700&family=Sora:wght@100..800&display=swap');


*{
    margin: 0;
    font-family: "Sora", sans-serif;
}
body{
    background-image: url(https://img.freepik.com/free-vector/abstract-background-with-waves-glow-vector-illustration-blue-background_1182-2394.jpg?semt=ais_hybrid&w=740&q=80);
}